@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 24px;
}

header {
  background-image: url("images/workBack.jpg");
  background-position: center;
  min-height: 70vh;
  background-attachment: fixed;
  background-size: cover;
}

.smallLogo {
  width: 100%;
}

.navbar {
  padding: 25px 80px !important;
}

ul {
  width: 100%;
}

li a {
  font-size: 15px;
  font-weight: 400;
}

.active a {
  color: #b1f1de;
}

a:hover {
  color: #c4b5b5 !important;
}

.navbar-brand {
  width: 250px;
}

.nav-link {
  color: white;
}


#toogle-id {
  color: white;
}


#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

#site-canvas {
  width: 100%;
  min-height: 60vh;
  height: 100%;
  position: relative;
  background-position-x: center;
  background-repeat: no-repeat;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.show-nav #site-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: #73c8af;
  padding: 15px;
}

#site-menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px;
}
h2 {
  font-size: 42px !important;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.1em;
}

.skill-text {
  padding-top: 25px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 24px;
}

.conclusion {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2.5px;
  line-height: 1em;
}

.pad-8 {
  padding: 80px;
}

.row {
  padding: 0px 50px;
}

.first {
  padding-top: 100px;
}
.category {
  width: 100%;
} 

h3 {
  font-size: 14px !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2em;
}

h3 a {
  color: #01b4aa;
  text-decoration: none;
  padding-right: 2%;
  padding-left: 10px;
}

.img-project img {
  width: 100%;
  transition: filter .2s ease-in-out;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
}

.img-project img:hover {
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
}

.img-project {
  padding: 10px 0;
}

@media only screen and (max-width: 500px){
	.navbar {
		padding: 10px 2px !important;
	}
}

@media only screen and (max-width: 350px){
	.navbar {
		padding: 10px 2px !important;
	}

	.navbar-brand {
		width: 150px;
	}
}
