@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

body {
	font-family: 'Libre Franklin', sans-serif !important;
}

header {
	padding-bottom: 30px; 
}

.mainLogo {
	width: 25%;
	border-radius: 50%;
}

.smallLogo {
	width: 53px;
	border-radius: 50%;
}

.navbar {
	border-bottom: 2px dashed gray;
}

.navbar-nav {
	width: 100%;
}

.nav-item {
	padding: 0 1rem;
}

.logoBackground {
	display: none;
}

.img-home {
	width: 100%;
	border: 2px solid white;

}

.homeTitleBoxOuter {
	text-align: center;
	border: 3px solid gray; 
	padding: 4px;
}

.homeTitleBoxIner {
	border: 1px solid gray;
	color: rgba(0,0,0,.5);
	padding: 2rem 0.5rem;
}

h3 {
	font-size: 2.5rem;
	font-weight: 600 !important;
}

p {
	font-size: 1rem;
}

.middleColumn {
	padding-top: 30px;
}

.entrance {
	padding-top: 30px;
}

.social-icons {
	text-align: center;
	padding: 10px;
}

i {
	color: black;
	font-size: 35px;
	padding: 9px;
}

i:hover {
	color: gray;
}

blockquote {
	text-align: center;
	padding: 7px;
}

blockquote p {
	text-align: left;
	padding-left: 14px;
	border-left: 5px solid #514d4d;
	color: #a19898;
}

footer {
	padding-top: 30px;
}
.footer {
	border-top: 2px dashed gray;
	text-align: center;
	padding: 10px;
}

span {
	color: gray;
}

@media only screen and (min-width: 992px){
  .smallLogo {
    display: none;
  }
  .logoBackground {
	display: block;
	}
}